/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

* {
  box-sizing: border-box;
}

/* Penya Ciclista App */

#cos {
  padding: 10px;
  position: relative;
  height: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.op0 {
  opacity: 0;
}

.op1 {
  opacity: 1;
}

.page {
  padding: 10px;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease;
}

.left {
  right: 100%;
  left: -100%;
  transition: all 0.5s ease;
}

.right {
  left: 100%;
  right: -100%;
  transition: all 0.5s ease;
}

.center {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}


.btn {
  display: inline-block;
  background-color: #FFE260;
  color: #111;
  font-weight: 700;
  font-size: 1.15em;
  border: 0;
  }

.btn-app {
  width: 150px;
  padding: 15px 6px;
  border-radius: 30px;
}

.btn:disabled {
  background-color: #ccc;
  color: #aaa;
}

.btn:active {
  background-color: #F4FF53;
}

.form-control {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 0;
}

.text-center {
  text-align: center;
}

#cap {
  position: relative;
  height: 20%;
  transition: all 0.4s ease;
  padding-bottom: 10px;
}

.logo-penya {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: auto;
  height: 100%;
  background-image: url(../img/logo.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.page-prox #cap {
  height: 10%;
  border-bottom: 1px solid #e9e9e9;
  transition: all 0.5s ease;
}

#btn-back {
  position: absolute;
  left: 0;
  top: 0;
}

#coord {
  padding: 10px;
  min-height: 50px;
}

#benvinguda {
  padding: 10px 0;
}

#page-prox {
  max-height: 90%;
  overflow-y: scroll;
}

.prox {
  border: 0px none;
  padding: 30px 10px;
  text-align: center;
}

.prox-ruta {
  padding: 5px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.nom-ruta {
  margin: 0;
}

.prox-ruta .traj {
  color: #888;
  padding: 5px 0;
}

.prox-ruta p {
  margin: 0;
}

.data-hora p {
  display: inline-block;
  width: 50%;
}
